beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
docopt==0.6.2
geojson==2.5.0
googletrans==2.4.0
idna==2.9
pipreqs==0.4.10
pyowm==2.10.0
pyTelegramBotAPI==3.6.7
requests==2.23.0
six==1.14.0
soupsieve==2.0
urllib3==1.25.8
yarg==0.1.9
